#sq1{
        width: 150px;
        height: 150px;
        background: rgba(255, 255, 255, 0.0);
        border: 30px solid rgba(58, 62, 42, 0.9);
        position: absolute;
        top:120px;
        left:120px;
}
#sq2{
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 0.0);
    border: 30px solid rgba(58, 62, 42, 0.9);
    position: absolute;
    top:20px;
    left:300px;
}
#sq3{
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 0.0);
    border: 30px solid rgba(58, 62, 42, 0.9);
    position: absolute;
    top:300px;
    left:220px;
}
#sq4{
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 0.0);
    border: 30px solid rgba(58, 62, 42, 0.9);
    position: absolute;
    top:200px;
    left:400px;
}
#down{
        position: relative;
        top: 220px;
        left: -188px;
        
    }
.a{
    border: 30px solid rgba(3, 49, 54, 0.9) !important;
    position: absolute !important;
    transform: rotate(180deg);
}